body{
    /* background-color: black; */
}
.full-nav{
    background-color: rgb(28, 133, 231);
    padding-top: 10px;
    padding-bottom: 16px;
}
.home{
    text-decoration: none;
    font-size: 22px;
    margin-right: 30px;
    color: rgb(255, 255, 255);
}
.about{
    text-decoration: none;
    font-size: 22px;
    margin-right: 30px;
    color: rgb(255, 255, 255);
}
.services{
    text-decoration: none;
    font-size: 22px;
    margin-right: 30px;
    color: rgb(255, 255, 255);
}
.contact{
    text-decoration: none;
    font-size: 22px;
    margin-right: 30px;
    color: rgb(255, 255, 255);
}
.logo{
    color: rgb(255, 255, 255);
    margin: 0 20px;
}
.navStyle{
    text-align: c;
}